<div class="panel panel-default sidebar-menu">

  <div class="panel-heading">
    <h3 class="panel-title">Ranking</h3>
  </div>

  <div class="panel-body">
    <ul class="nav nav-pills nav-stacked category-menu">
      <li class="<%= 'active' if current_genre.id == 33 %>">
        <a href="#">MOVIE</a>
        <ul>
          <%- Genre.genres(:movie).each do |genre| -%>
            <li>
              <%- if genre.id == current_genre.id -%>
                <div style="background:#4fbfa8;"><%= link_to genre.name, genre_path(genre) %></div>
              <%- else -%>
                <%= link_to genre.name, genre_path(genre) %>
              <%- end -%>
            </li>
          <%- end -%>
        </ul>
      </li>
      <li class="<%= 'active' if current_genre.id == 34 %>">
        <a href="#">MUSIC</a>
        <ul>
          <%- Genre.genres(:music).each do |genre| -%>
            <li>
              <%- if genre.id == current_genre.id -%>
                <div style="background:#4fbfa8;"><%= link_to genre.name, genre_path(genre) %></div>
              <%- else -%>
                <%= link_to genre.name, genre_path(genre) %>
              <%- end -%>
            </li>
          <%- end -%>
        </ul>
      </li>
    </ul>
  </div>
</div>
<!-- *** 検索機能用エリア
  <div class="panel panel-default sidebar-menu">
  <div class="panel-heading">
  <h3 class="panel-title">Search</h3>
  </div>
  </div>
  *** -->
