<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>
      デベロッパー大学マーケット
    </title>

    <link href='http://fonts.googleapis.com/css?family=Roboto:400,500,700,300,100' rel='stylesheet' type='text/css'>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application'  %>
  </head>

  <body>
    <!-- *** TOP BAR END *** -->
    <%= render 'layouts/topbar' %>
    <%= render 'layouts/navbar' %>

    <div id="all">
      <div id="content">
        <%= yield %>
      </div>

      <%= render 'layouts/footer' %>
      <%= render 'layouts/copyright' %>
    </div>
    <!-- /#all -->
  </body>
</html>
